<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscreption</title>
</head>
<body>
<div><h2>Inscreption</h2></div>


<form th:action="@{/Inscreption/save}" method="post" th:object="${user}">
         <div><label> name </label></div>
         <div><input type="text" th:field="*{name}" </div>
         <div><label> password </label></div>
         <div><input  type="password" th:field="*{password}"/></div>
         <div><label> email </label></div>
         <div><input  type="email" th:field="*{email}"/></div>
        <div><button type="submit" >save</button> </div>
</form>

<div><h2>Vous avez un compte deja</h2></div>
<form th:action="@{/Inscreption/save1}" method="post" th:object="${user}">

    <div><label> email </label></div>
    <div><input  type="email" th:field="*{email}"/></div>
    <div><label> password </label></div>
    <div><input  type="password" th:field="*{password}"/></div>

    <div><button type="submit" >login</button> </div>
</form>
</body>